<h1>Active games</h1>

<h1> Or find your opponent, and sink them </h1>

<% if @games %>
<% @games.each do |game|%>
  <a href="games/<%=game.id%>/show">Game with <%=game.player_1.name%></a>
<%end%>
<%end%>
