// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  background-image: url('/assets/background.jpg');
}

.main-nav{
  margin: 0;
  padding: 0;
}

.main-nav ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  width: 100vw;
}

.main-nav li{
  float: left;
  margin-right: 5%;
}

.main-nav a{
  text-align: center;
  padding: 14px 16px;
  display: block;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.main-nav a:hover{
  color: yellow;
}

.enemy-board{
}

.home-board{
}

table, td {
   border: 5px solid black;
   font-size: 24px;
   color: yellow;
   font-weight: bold;
}


table{
  width: 50vw;
  height: 5vh;
  right: 1%;
  background-image: url("/assets/ocean.jpg");
}
td {
  outline: 2px solid white;
  text-align: center;
}

.shotform{
  position: absolute;
  right: 3%;
  font-size: 32px;
  color: white;
  top: 7%;
  background-image: url('/assets/shotpic.jpg');
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  padding: 2%;
  border-radius: 10px;
  width: 40vw;

}
input[type='text']{
  font-size: 32px;
}
input[type='submit']{
  font-size: 1em;
  background-color: white;
}
h1{
  color: white;
}

.list{
  background-color: black;
  border-radius: 10px;
  padding: 15px;
  width: 33%;
}

.list a{
  text-decoration: none;
  color: white;
}

.hit {
  background-color: red;
}

.miss{
  background-color: white;
}